*{
  box-sizing: border-box;
}


body {

  background: linear-gradient(to right, #4CFFA3 , #46f9e1);
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  color: #4d4d4d;
  max-width: 700px;
  margin: auto;
}


.heading {

  text-align: left;
  font-size: 4.2em;
  color: #F5409A;
  text-shadow: 2px 2px 150px #02ffc5, 2px 2px #575757;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 30px;
}

h2 {
  font-size: 1.8em;
  font-weight: bold;
  text-shadow: 2px 2px 300px #02ffc5;
}

.back {
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  color: #F5409A;
  text-shadow: 2px 2px 150px #02ffc5, 2px 2px #575757;
  margin-top: 0;
  margin-bottom: 20px;
  padding-bottom: 50px;

}



img:hover {
  filter: brightness(105%);
}

img {
  max-height: 500px;
  max-width: 500px;
}



ul {
  padding: 0;
}

a {
   text-decoration: none;
  color: inherit;
}

.login-link {
  font-size: 1.2em;
  font-weight: bold;
}

.password {
  font-size: 12px;
  width: 250px;
}

/*a:visited {
  color: #4d4d4d;
  text-shadow: 2px 2px 300px #02ffc5;
}*/

li {
  list-style: none;
  font-size: 1.4em;
  font-weight: bold;
}


.invalid {
  border: solid 1px red;
}




/*  OVERALL PAGE LAYOUT

    navbar at top (one flexbox containing 2 flexboxes - nav & auth)
    sidebar & content (one big flex box)
    sidebar itself - no flexbox

*/

/* main - flexbox for display*/
.main {
  display: flex;
  flex-direction: row;
  position: relative;
}

/*.sidebar {
  flex-basis: 20%;
  margin-top: 40px;
}
*/
.content {
  flex-basis: 80%;
  padding-left: 10px;
  padding-right: 10px;
}


/*navigation bar at the top - have used flex box twice here
once for overall nav bar, then for the two parts of it (general and auth)*/

.navigation {
  display: flex;
  flex-direction: row;

}

.nav-container{
  justify-content: space-between;
  padding-bottom: 40px;
}



.navigation-auth {
  display: flex;
  flex-direction: row;

}

.nav-link {
  margin-right: 20px;
  padding: 5px;
  border: solid;
  border-color: #686767;
  background-color: #96ffd6;
 }

.nav-auth {
  margin-left: 20px;
  float: right;
  padding: 5px;
  border: solid;
  border-color: #686767;
  background-color: #96ffd6;
}

.home-pic {
  height: 100px;
  background-image: url("/assets/img/KL-home.png");
  background-repeat: no-repeat;
  background-position: -75px 0;
  background-size: cover;
  display: block;
  width: 75px;
}

.home-pic:hover {
  background-position: 0 0;
}

.burger-button {
  margin-top: 18px;
  background: url("/assets/img/menu.svg");
  width: 32px;
  height: 32px;
  border: none;
}


/* sidebar navigation */

.side-navigation {
  background: linear-gradient(to right, #fff996 , #46f9e1);
  position:absolute;
  width: 100%;
}

.side-navigation > ul > li {
  margin-bottom: 10px;
  margin-left: 20px;
}

.side-link {
  line-height:40px;
  border: solid;
  border-color: #686767;
  background-color: #96ffd6;
  display:inline-block;
  padding: 0 8px;
  font-size: 20px;
  min-width: 80px;
 }

.side-link:hover {
  background-color: #00fff1;
  color: #303030;
}

.hidden {
  display: none;
}





/* blog formatting */

.blog-link {
  display: inline-block;
  font-size: 1.2em;
  margin-left: 0;
  font-weight: bold;
  padding-bottom: 10px;
  background-size: 150% 15px;
  position: relative;
  background-image: linear-gradient(to right, #ffef35 50%, #ffef35 50%);
  background-position: 0;
  background-repeat: no-repeat;
}

.blog-post {
  padding: 20px 0 20px 0;
  font-weight: bold;
}

.blog-title {
    font-size: 1.5em;
    margin: 10px 0 0 0;
    display: inline-block;
}

.blog-body {
  padding-top: 20px;

}

.blog-user-date {
  font-size: 12px;
}
    /*background-size: 150% 15px;
    position: relative;
    background-image: linear-gradient(to right, #ffc600 50%, #ffc600 50%);
    background-position: 0;
    background-repeat: no-repeat;
}*/



/*.blog-title:hover {
    transform: rotate(1deg);
    bottom: 0;
}
*/

.insta {
  padding: 20px 0;
}


/* TV page formatting*/

.tv-form-container {
  display: flex;
  flex-wrap: wrap;
  width: 400px;

}

.tv-form-container label {
  flex-basis: 30%;

}

.tv-form-container input,
.tv-form-container textarea,
.tv-form-container select {
  flex-basis: 70%;


}

.tv-form-container input,
.tv-form-container textarea,
.tv-form-container select,
.tv-form-container label {

  margin-bottom: 10px;
}

.tv-error {
  color: red;
  width: 100%;
  margin-bottom: 30px;
  margin-top: 0;
}
