body {

  background: linear-gradient(to right, #4CFFA3 , #46f9e1);
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  padding-left: 10px;
  color: #4d4d4d;
  max-width: 700px;
  margin: auto;
}


.heading {

  text-align: left;
  font-size: 4.2em;
  color: #F5409A;
  text-shadow: 2px 2px 150px #02ffc5, 2px 2px #575757;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 30px;
}

h2 {
  font-size: 1.8em;
  font-weight: bold;
  text-shadow: 2px 2px 300px #02ffc5;
}

.back {
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  color: #F5409A;
  text-shadow: 2px 2px 150px #02ffc5, 2px 2px #575757;
  margin-top: 0;
  margin-bottom: 20px;
  padding-bottom: 50px;

}



img:hover {
  filter: brightness(105%);
}

img {
  max-height: 500px;
  max-width: 500px;
}



ul {
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/*a:visited {
  color: #4d4d4d;
  text-shadow: 2px 2px 300px #02ffc5;
}*/

li {
  list-style: none;
  font-size: 1.4em;
  font-weight: bold;
}


.invalid {
  border: solid 1px red;
}


/*navigation bar at the top - have used flex box twice here
once for overall nav bar, then for the two parts of it (general and auth)*/
.navigation {
  display: flex;
  flex-direction: row;
  
}

.nav-container{
  justify-content: space-between;
  
}

.navigation-general {
  display: flex;
  flex-direction: row;
}

.navigation-auth {
  display: flex;
  flex-direction: row;

}

.nav-link {
  margin-right: 20px;
  padding: 5px;
  border: solid;
  border-color: #686767;
  background-color: #96ffd6;
 }

.nav-auth {
  margin-left: 20px;
  float: right;
  padding: 5px;
  border: solid;
  border-color: #686767;
  background-color: #96ffd6;
}

.blog-link {
  display: inline-block;
  font-size: 1.2em;
  margin-left: 0px;
  font-weight: bold;
  padding-bottom: 10px;
  background-size: 150% 15px;
  position: relative;
  background-image: linear-gradient(to right, #ffc600 50%, #ffc600 50%);
  background-position: 0;
  background-repeat: no-repeat;
}

.blog-post {
  padding: 20px 0px 20px 0px;
  font-weight: bold;
}

.blog-title {
    font-size: 1.5em;
    margin: 10px 0 0 0;
    display: inline-block;
}
    /*background-size: 150% 15px;
    position: relative;
    background-image: linear-gradient(to right, #ffc600 50%, #ffc600 50%);
    background-position: 0;
    background-repeat: no-repeat;
}*/



/*.blog-title:hover {
    transform: rotate(1deg);
    bottom: 0;
}
*/

.insta {
  padding: 20px 0;
}

