<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/assets/styles.css">
    <title>My First PHP Project</title>
    <style>
        .invalid {
            border: solid 1px red;
        }
    </style>
</head>
<body>
    <nav class="navigation nav-container">
        <ul class="navigation navigation-general">
            <li class="nav-link"><a href="/home">Home</a></li>
            <li class="nav-link"><a href="/blog">Blog</a></li>

            {% if loggedIn %}
                <li class="nav-link"><a href="/blog_input">Post</a></li>
                <li class="nav-link"><a href="/instagram">Insta</a></li>
                <li class="nav-link"><a href="/tv">TV</a></li>
            {% endif %}
        </ul>
        
        <ul class="navigation navigation-auth">

            
            {% if loggedIn %}
                <li class="nav-auth"><a href="/logged_out">Log out</a></li>
            {% else %}
                <li class="nav-auth"><a href="/login">Log in</a></li>
                <li class="nav-auth"><a href="/register">Register</a></li>
            {% endif %}
        </ul>
    </nav>
    
    {% block content %}{% endblock %}
</body>
</html>