{% extends "base.twig" %}

{% block content %}

    <h2>Enter your blog post here!</h2>

   <p><a href ="/logged_in.php">Click here to go back</a></p>
   <p><a href ="/blog.php">View the blog</a></p>
   
   <form action="blog_input.php" method="POST">
   
    <p>Title: <input type="text" name="title"/> </p>
    <p>Blog: <textarea name="body" rows="10" cols="50"> </textarea> </p>
    
    <p><input type="submit" value="Post your blog!"></p>
   
   
    
   </form>




{% endblock %}