{% extends "base.twig" %}

{% block content %}

    <h2>Enter your blog post here!</h2>

   
   <form action="/blog_input" method="POST">
   
    <p>Title: <input type="text" name="title"/> </p>
    <p>Blog: <textarea name="body" rows="10" cols="50"> </textarea> </p>
    
    <p><input type="submit" value="Post your blog!"></p>
   
   
    
   </form>




{% endblock %}