{% extends "base.twig" %}

{% block content %}

    <h1 class="heading"> Kinza's Instagram</h1>

{% for img in images  %}

    <div class="insta">
        <img src="{{img.images.standard_resolution.url}}">
        <p> {{img.caption.text}} </p>
        <p> {{img.likes.count}} likes </p>
    </div>
    
{% endfor %}


{% endblock %}