{% extends "base.twig" %}

{% block content %}




      <h1 class="heading">Log In</h1>


      <form action="/login" method="POST">
        <p>Username: <input type="text" name="username" required ="required" /></p>
        <p>Password: <input type="password" name="password" required ="required" /></p>
        <p><input type="submit" value="Log In" /></p>

      </form>


{% endblock %}


