{% extends "base.twig" %}

{% block content %}

    <h1 class="heading">Success!</h1>

    <p>You have registered!</p>
    
    <p>Go ahead and <a class="login-link" href="/login">log in</a>...</p>

{% endblock %}