{% extends "base.twig" %}

{% block content %}

  <h2>Registration Page</h2>


  <form action="register.php" method="POST">
    <p>Username: <input type="text" name="username" class="{% if errorMessages.username %}invalid{% endif %}"> <span style="color: red">{{ errorMessages.username }}</span></p>
    <p>Password: <input type="password" name="password" class="{% if errorMessages.password %}invalid{% endif %}"> <span style="color: red">{{ errorMessages.password }}</span></p>
    <p>Min 8 characters. Must contain one number, and one upper and lower case letter.</p>
    <p>Email: <input type="email" name="email" class="{% if errorMessages.email%}invalid{% endif %}"> <span style="color: red">{{ errorMessages.email}}</span></p>
    <p><input type="submit" value="Register"></p>
  </form>

{% endblock %}