{% extends "base.twig" %}

{% block content %}

    <h1 class="heading">TV</h1>
    
    <h2>Add TV shows to a watchlist!</h2>
    
    <form action="/tv" method="POST">
        <p>Title: <input type="text" name="title"> </p> 
        <p>Season: <input type="text" name="season"> </p>
        <p>Genre: <input type="text" name="genre"> </p>
        <p>Platform: <select name="platform">
            <option value="netflix">Netflix</option>
            <option value="amazon-prime">Amazon Prime</option>
            <option value="nowtv">NOW TV</option>
            <option value="kodi">Kodi</option>
            <option value="actual-tv">Actual TV</option>
            <option value="dvd">DVD</option>
        </select></p>
        <p>Notes: <textarea name="notes" rows="5" cols="30"></textarea></p>
        <p><input type="submit" value="Add"></p>
    </form>
    
    
    
    <h2>Your TV Shows</h2>
    
    <h2>What next?</h2>


{% endblock %}